.container {
	font-family: 'Roboto' , sans-serif;
	margin: 25px;
	border: 5px solid gray;
	background: linear-gradient(to bottom, white,gold);
}
.head{
	text-align: center;
	font-size : 45px;
}